*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(48,25,111);
}
.appBtn{
    .appstore{
        background-image: url(//image/btn/appstore.png);
        height: 500px;
        width: 128px;
        border: solid 1px red($color: #000000);
    }
    .playstore{
        background-image: url(//image/btn/);
    }
}